@model Nivarc.Models.patientaddress
@using Nivarc.Infrastructure
<li>
    @using (Html.BeginCollectionItem("patientaddresses"))
    {
        <fieldset>
            <legend>Address</legend>
            <div class="control-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Line1, new { @class = "control-label" })
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.Line1)
                    @Html.ValidationMessageFor(model => model.Line1, null, new { @class = "help-inline" })
                </div>
            </div>
            <div class="control-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Line2, new { @class = "control-label" })
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.Line2)
                    @Html.ValidationMessageFor(model => model.Line2, null, new { @class = "help-inline" })
                </div>
            </div>
            <div class="control-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.City, new { @class = "control-label" })
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.City)
                    @Html.ValidationMessageFor(model => model.City, null, new { @class = "help-inline" })
                </div>
            </div>
            <div class="control-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.State, new { @class = "control-label" })
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.State)
                    @Html.ValidationMessageFor(model => model.State, null, new { @class = "help-inline" })
                </div>
            </div>
            <div class="control-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.PostalCode, new { @class = "control-label" })
                </div>
                <div class="controls">
                    @Html.EditorFor(model => model.PostalCode)
                    @Html.ValidationMessageFor(model => model.PostalCode, null, new { @class = "help-inline" })
                </div>
            </div>
            <div class="control-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.AddressTypeId, "Address Type", new { @class = "control-label" })
                </div>
                <div class="controls">
                    @Html.DropDownList("AddressTypeId")
                    @Html.ValidationMessageFor(model => model.AddressTypeId, null, new { @class = "help-inline" })
                </div>
            </div>
        </fieldset>
        @*<a href="#" onclick="$(this).parent().remove();">Delete</a>*@
    }
</li>
