@model Nivarc.Models.patient

@{
    var permanentAddress = Model.patientaddresses.Where(a => a.AddressTypeId.ToString() == ViewData["AddressTypeId"].ToString()).FirstOrDefault();
    var email = Model.patientemails.Where(a => a.EmailTypeId.ToString() == ViewData["EmailTypeId"].ToString()).FirstOrDefault();
    var contactNumber = Model.patientphones.Where(a => a.PhoneTypeId.ToString() == ViewData["PhoneTypeId"].ToString()).FirstOrDefault();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <ol class="breadcrumb">
            <li><a href="../">Home</a></li>
            <li class="active">E.H.R</li>
        </ol>
        <legend>@string.Format("{0}, {1}", Model.FirstName, Model.LastName)</legend>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label">Permanent Address </label>
                <div>
                    @if (permanentAddress != null)
                    {
                        <p class="form-control-static">@string.Format("{0}, {1}", permanentAddress.Line1, permanentAddress.Line2)</p>
                        <p class="form-control-static">@string.Format("{0}, {1} - {2}", permanentAddress.City, permanentAddress.State, permanentAddress.PostalCode)</p>
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Email </label>
                @if (email != null)
                {
                    <p class="form-control-static">@email.EmailAddress</p>
                }
            </div>
            <div class="form-group">
                <label class="control-label">Contact Number </label>
                <div>
                    @if (contactNumber != null)
                    {
                        <p class="form-control-static">@contactNumber.Number</p>
                    }
                </div>
            </div>
        </form>
    </div>
</body>
</html>
