@model Nivarc.Models.patient

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
    <body>
@using (Html.BeginForm())
{
    @*<div class="well">
        <fieldset class="control-grouperror">
            <legend>Registration Form</legend>
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName,
                new {@class = "span3"})
            @Html.LabelFor(m => m.MiddleName)
            @Html.TextBoxFor(m => m.MiddleName,
                new {@class = "span3"})
            @Html.LabelFor(m => m.LastName)
            @Html.PasswordFor(m => m.LastName,
                new {@class = "span3"})
            <input type="submit" value="Register"
                   class="btn btn-primary btn-large" />
        </fieldset>
    </div>*@
}
        <div>
            <fieldset class="form-horizontal">
                <div class="control-group">
                    <div class="col-md-12">
                        <div class="controls">
                            <div class="col-md-3">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.TitleId, "Title", new { @class = "control-label" })
                                </div>
                                <div class="col-md-12">
                                    @Html.DropDownList("TitleId")
                                    @Html.ValidationMessageFor(model => model.TitleId, null, new { @class = "help-inline" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.FirstName, "First Name", new { @class = "control-label" })
                                </div>
                                <div class="col-md-12">
                                    @*@Html.EditorFor(model => model.FirstName)*@
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" }, })
                                    @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "help-inline" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.MiddleName, "Middle Name", new { @class = "control-label" })
                                </div>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.MiddleName)
                                    @Html.ValidationMessageFor(model => model.MiddleName, null, new { @class = "help-inline" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.LastName, "Last Name", new { @class = "control-label" })
                                </div>

                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.MiddleName)
                                    @Html.ValidationMessageFor(model => model.MiddleName, null, new { @class = "help-inline" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="controls">
                            <div class="col-md-3">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.DateOfBirth, "Date Of Birth", new { @class = "control-label" })
                                </div>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.DateOfBirth)
                                    @Html.ValidationMessageFor(model => model.DateOfBirth, null, new { @class = "help-inline" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.MaritalStatusId, "Marital Status", new { @class = "control-label" })
                                </div>
                                <div class="col-md-12">
                                    @Html.DropDownList("MaritalStatusId")
                                    @Html.ValidationMessageFor(model => model.MaritalStatusId, null, new { @class = "help-inline" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.PrimaryCareProviderId, "Primary Care", new { @class = "control-label"})
                                </div>
                                <div class="col-md-12">
                                    @Html.DropDownList("PrimaryCareProviderId")
                                    @Html.ValidationMessageFor(model => model.PrimaryCareProviderId, null, new { @class = "help-inline" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.GenderId, "Gender", new { @class = "control-label" })
                                </div>
                                <div class="col-md-12">
                                    @Html.DropDownList("GenderId")
                                    @Html.ValidationMessageFor(model => model.GenderId, null, new { @class = "help-inline" })
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </fieldset>
        </div>
    </body>
</html>

