@model Nivarc.Models.patient
@using Nivarc.Models

@{
    ViewBag.Title = "Create";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Scripts.Render("~/bundles/jquery")



    <div class="container">
        <div class="row">
            <div class="span6">
                <ul class="breadcrumb">
                    <li>
                        <a href="../">Dashboard</a> <span class="divider"></span>
                    </li>
                    <li class="active">Create Patient</li>
                </ul>
            </div>
        </div>
    </div>
    <h3>Create Patient Record</h3>
    <hr />
    <div>

        <div class="row">

            <!-- Navigation Buttons -->
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked" id="myTabs">
                    <li class="active"><a href="#primarydetails">Personal Details</a></li>
                    <li><a href="#patientaddress">Address</a></li>
                    <li><a href="#Patientcontact">Contact</a></li>
                    <li><a href="#patientemail">Email</a></li>
                    <li><a href="#patientinsurance">Insurance</a></li>
                </ul>
            </div>

            <!-- Content -->
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane active" id="primarydetails">
                        <div class="col-md-12">
                            @Html.Partial("_PatientPrimaryDetailsCreate", Model)
                        </div>
                    </div>
                    <div class="tab-pane" id="patientaddress">
                        <div class="col-md-12">
                            <ul id="addressEditor" style="list-style-type: none">
                                @if (Model != null && Model.patientaddresses != null)
                                {
                                    foreach (patientaddress address in Model.patientaddresses)
                                    {
                                        @Html.Partial("_PatientAddressCreate", address)
                                    }
                                }
                            </ul>

                            <a id="addAnotherAddress" href="#">Add another</a>

                            <script type="text/javascript">
                                $(function () {

                                    if ($("#addressEditor").children().length == 0) {
                                        $.get('/Patient/PatientAddressEntryRow', function (template) {
                                            $("#addressEditor").append(template);
                                        });
                                    }

                                    $("#addAnotherAddress").click(function () {
                                        $.get('/Patient/PatientAddressEntryRow', function (template) {
                                            $("#addressEditor").append(template);
                                        });
                                    });
                                });
                            </script>
                        </div>
                    </div>
                    <div class="tab-pane" id="Patientcontact">
                        <div class="col-md-12">
                            <ul id="contactEditor" style="list-style-type: none">
                                @if (Model != null && Model.patientphones != null)
                                {
                                    foreach (patientphone phone in Model.patientphones)
                                    {
                                        @Html.Partial("_PatientContactCreate", phone)
                                    }
                                }
                            </ul>

                            <a id="addAnotherContact" href="#">Add another</a>

                            <script type="text/javascript">
                                $(function () {

                                    if ($("#contactEditor").children().length == 0) {
                                        $.get('/Patient/PatientPhoneEntryRow', function (template) {
                                            $("#contactEditor").append(template);
                                        });
                                    }

                                    $("#addAnotherContact").click(function () {
                                        $.get('/Patient/PatientPhoneEntryRow', function (template) {
                                            $("#contactEditor").append(template);
                                        });
                                    });
                                });
                            </script>
                        </div>
                    </div>
                    <div class="tab-pane" id="patientemail">
                        <div class="col-md-12">
                            <ul id="emailEditor" style="list-style-type: none">
                                @if (Model != null && Model.patientemails != null)
                                {
                                    foreach (patientemail email in Model.patientemails)
                                    {
                                        @Html.Partial("_PatientEmailCreate", email)
                                    }
                                }
                            </ul>

                            <a id="addAnotherEmail" href="#">Add another</a>

                            <script type="text/javascript">
                                $(function () {

                                    if ($("#emailEditor").children().length == 0) {
                                        $.get('/Patient/PatientEmailEntryRow', function (template) {
                                            $("#emailEditor").append(template);
                                        });
                                    }

                                    $("#addAnotherEmail").click(function () {
                                        $.get('/Patient/PatientEmailEntryRow', function (template) {
                                            $("#emailEditor").append(template);
                                        });
                                    });
                                });
                            </script>
                        </div>
                    </div>
                    <div class="tab-pane" id="patientinsurance">
                        <div class="col-md-12">
                            @Html.Partial("_PatientInsuranceCreate", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="form-actions no-color">*@
        <div class="form-actions no-color">
            @*<div class="col-md-12">*@
                <div class="controls">
                    <input type="submit" value="Create Patient" class="btn btn-info" />
                </div>
            @*</div>*@
        </div>

        <!-- Enable the tabs -->
        <script type="text/javascript">
            $('#myTabs a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            });
        </script>

    </div>






}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

