@model Nivarc.Models.patient

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    @Scripts.Render("~/bundles/jquery")
    
    
    
    
    <div>

        <div class="row">

            <!-- Navigation Buttons -->
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked" id="myTabs">
                    <li class="active"><a href="#primarydetails">Primry Details</a></li>
                    <li><a href="#patientaddress">Address</a></li>
                    <li><a href="#Patientcontact">Contact</a></li>
                    <li><a href="#patientemail">Email</a></li>
                    <li><a href="#patientinsurance">Insurance</a></li>
                </ul>
            </div>

            <!-- Content -->
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane active" id="primarydetails">
                        <div class="col-md-12">
                            @Html.Partial("_PatientPrimaryDetailsCreate", Model)
                                        </div>
                                        @*<div class="col-md-4">
                                            Demographic Sub section
                                        </div>*@
                                    </div>
                    <div class="tab-pane" id="patientaddress">
                        <div class="col-md-12">
                            @Html.Partial("_PatientAddressCreate", Model)
                                        </div>
                                        @*<div class="col-md-4">
                                            Problem Sub section
                                        </div>*@
                                    </div>
                    <div class="tab-pane" id="Patientcontact">
                        <div class="col-md-12">
                            @Html.Partial("_PatientContactCreate", Model)
                                        </div>
                                        @*<div class="col-md-4">
                                            Notes Sub section
                                        </div>*@
                                    </div>
                    <div class="tab-pane" id="patientemail">
                        <div class="col-md-12">
                            @Html.Partial("_PatientEmailCreate", Model)
                                        </div>
                                        @*<div class="col-md-4">
                                            Orders Sub section
                                        </div>*@
                                    </div>
                    <div class="tab-pane" id="patientinsurance">
                        <div class="col-md-12">
                            @Html.Partial("_PatientInsuranceCreate", Model)
                                        </div>
                                        @*<div class="col-md-2">
                                            medication Sub section
                                        </div>*@
                                    </div>
                </div>
            </div>
        </div>

        <div class="form-actions no-color">
            <div class="col-md-12">
                <div class="controls">
                    <input type="submit" value="Create" class="btn btn-info" />
                </div>
            </div>
        </div>

        <!-- Enable the tabs -->
        <script type="text/javascript">
            $('#myTabs a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            });
        </script>

    </div>
    
    
    
    
    
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

