@model Nivarc.Models.patient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Patient</legend>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfDeath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfDeath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaritialStatu.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaritialStatu.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalProvider.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalProvider.Title)
        </dd>

    </dl>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
