@model Nivarc.Models.patient
@{
    // Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div>
        <div class="row">
            <!-- Navigation Buttons -->
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked" id="myTabs">
                    <li class="active"><a href="#patientdemographics">PATIENT DEMOGRAPHICS</a></li>
                    <li><a href="#patientproblem">PROBLEM LIST</a></li>
                    <li><a href="#PatientOrders">PHYSICIAN'S ORDERS</a></li>
                    <li><a href="#patientmedication">MEDICATION</a></li>
                    <li><a href="#patientnotes">VISITS &amp; NOTES</a></li>
                    <li><a href="#PatientVitals">VITAL SIGNS</a></li>
                </ul>
            </div>

            <!-- Content -->
            <div class="col-md-9">
                <div class="tab-content col-md-8">
                    <div class="tab-pane active" id="patientdemographics">
                            @Html.Partial("_PatientDemographics", Model)
                    </div>
                    <div class="tab-pane" id="patientproblem">
                        <div class="col-md-8">
                            @Html.Partial("_PatientProblem", Model.patientproblems)
                        </div>
                    </div>
                    <div class="tab-pane" id="patientnotes">
                            @Html.Partial("_PatientNotes", Model.visits)
                    </div>
                    <div class="tab-pane" id="PatientOrders">
                            @Html.Partial("_PatientOrders", Model)
                    </div>
                    <div class="tab-pane" id="patientmedication">
                            @Html.Partial("_PatientMedication", Model.patientmedications)
                    </div>
                    <div class="tab-pane" id="PatientVitals">
                            @Html.Partial("_PatientVitals", Model)
                    </div>
                </div>
                <div class="col-md-4">
                    <h4>Recommendations</h4>
                </div>
            </div>
        </div>

        <!-- Enable the tabs -->
        <script type="text/javascript">
            $('#myTabs a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            });
        </script>
    </div>
</body>
</html>
