@using Nivarc.Models
@model Nivarc.Models.patient
@{
    // Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <!-- Navigation Buttons -->
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked" id="myTabs">
                    <li class="active"><a href="#patientdemographics">PATIENT DEMOGRAPHICS</a></li>
                    <li><a href="#patientproblem">PROBLEM LIST</a></li>
                    <li><a href="#PatientOrders">PHYSICIAN'S ORDERS</a></li>
                    <li><a href="#patientmedication">MEDICATION</a></li>
                    <li><a href="#patientnotes">VISITS &amp; NOTES</a></li>
                    <li><a href="#PatientVitals">VITAL SIGNS</a></li>
                </ul>
            </div>

            <!-- Content -->
            <div class="col-md-9">
                <div class="tab-content col-md-9">
                    <div class="tab-pane active" id="patientdemographics">
                        @Html.Partial("_PatientDemographics", Model)
                    </div>
                    <div class="tab-pane" id="patientproblem">
                        @Html.Partial("_PatientProblem", Model.patientproblems)
                    </div>
                    <div class="tab-pane" id="patientnotes">
                        @Html.Partial("_PatientNotes", Model.visits)
                    </div>
                    <div class="tab-pane" id="PatientOrders">
                        @Html.Partial("_PatientOrders", Model)
                    </div>
                    <div class="tab-pane" id="patientmedication">
                        <div id="patientmedicationHolder">
                            @Html.Partial("_PatientMedication", Model.patientmedications)
                        </div>
                        <div id="editPatientMedicationHolder">
                        </div>
                    </div>
                    <div class="tab-pane" id="PatientVitals">
                        @foreach (visit vst in Model.visits.Reverse())
                        {
                            foreach (medicalencounter encounter in vst.medicalencounters.Reverse())
                            {
                                if (encounter.vitalsignobservations.Count > 0)
                                {
                                    <div id="patientVitalSignHolder">
                                        @Html.Partial("_PatientVitals", encounter.vitalsignobservations);
                                    </div>
                                }
                            }
                        }
                        <div id="editPatientVitalSignHolder">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <b>RECOMMENDATIONS</b>
                        </div>
                        <div class="panel-body">
                            Recommendations...
                            Recommendations...
                            Recommendations...
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Enable the tabs -->
        <script type="text/javascript">
            $('#myTabs a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            });
        </script>
    </div>
</body>
</html>
